<div class="armor-panel grid-3col">
  <div class="armor-zone">
    <label>Front</label>
    <input type="number" name="system.armor.front" value="{{system.armor.front}}" />
  </div>
  <div class="armor-zone">
    <label>Left</label>
    <input type="number" name="system.armor.left" value="{{system.armor.left}}" />
  </div>
  <div class="armor-zone">
    <label>Right</label>
    <input type="number" name="system.armor.right" value="{{system.armor.right}}" />
  </div>
  <div class="armor-zone">
    <label>Back</label>
    <input type="number" name="system.armor.back" value="{{system.armor.back}}" />
  </div>
  <div class="armor-zone">
    <label>Top</label>
    <input type="number" name="system.armor.top" value="{{system.armor.top}}" />
  </div>
  <div class="armor-zone">
    <label>Underbody</label>
    <input type="number" name="system.armor.underbody" value="{{system.armor.underbody}}" />
  </div>
</div>
