<div class="cw-validation-panel">

  {{#if validation.errors.length}}
  <div class="cw-validation-section errors">
    <h3>Errors ({{validation.errors.length}})</h3>
    <ul>
      {{#each validation.errors}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  {{/if}}

  {{#if validation.warnings.length}}
  <div class="cw-validation-section warnings">
    <h3>Warnings ({{validation.warnings.length}})</h3>
    <ul>
      {{#each validation.warnings}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  {{/if}}

  {{#if validation.info.length}}
  <div class="cw-validation-section info">
    <h3>Info ({{validation.info.length}})</h3>
    <ul>
      {{#each validation.info}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  {{/if}}

  {{#unless validation.errors.length}}
  <div class="cw-validation-section valid">
    <h3>Build Valid</h3>
    <p>No errors detected.</p>
  </div>
  {{/unless}}

</div>
