<form class="carwars driver-sheet" autocomplete="off">
  <header class="sheet-header">
    <h1>
      <input name="name" type="text" value="{{actor.name}}" placeholder="Driver Name"/>
    </h1>
  </header>

  <section class="sheet-body">
    <div class="form-group">
      <label>Skill Level</label>
      <input type="number" name="system.skillLevel" value="{{system.skillLevel}}"/>
    </div>

    <div class="form-group">
      <label>Notes</label>
      <textarea name="system.notes">{{system.notes}}</textarea>
    </div>
  </section>
</form>
